.linkButton {
  min-height: 30px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #A300DC;
  color: white;
  font-size: 18px;
  box-shadow: 0px 0 12px 1px #666;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 300ms ease-in-out;    
}

.linkButton:focus, .linkButton:hover {
  border: 5px black;
  background-color: #8583ff;
  color: black;
  transition: background-color 300ms ease-in-out;
} 