.primaryTitle {
  font-size: 64px;
}

.tertiaryTitle {
  font-size: 32px;
}

.primaryTitle, .tertiaryTitle {
  display: block;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0px 0px 20px #ffec85;
}

.miniMessage {
  font-size: 15px;
}

.textDecorationNone {
  text-decoration: none;
}

.textColorWhite {
  color: white;
}

.textColorGold {
  color: #efd33d;
}

.textWeightBold {
  font-weight: bold;
}